<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align = "center">
        <h1>Employee Form</h1>
        <form action="#" th:action="@{/saveEmployee}" th:object="${ employee}" method="POST">
            <input type="text" th:field="*{firstName}" placeholder="Employee First Name"><br><br>
            <input type="text" th:field="*{lastName}" placeholder="Employee Last Name"><br><br>
            <input type="text" th:field="*{email}" placeholder="Employee Email"><br><br>
            <button type="submit">SaveEmployee</button>

        </form>
    </div>
</body>
</html>